	.ieOnly {display:block;}
	body {
	  font-size:x-small;
	}
	body #wrapper { zoom:1; }
	#contentBody div, #rightCol div, #leftCol div {
	  zoom:1; /* hasLayout bug IE */
	}
	.logo {right: -1px;}
	#leftCol a span  {	zoom:1; }
	a.newwindow { 
	 zoom:1; /* image de BG qui disparait si à la ligne */
	}
	#wrap, #subwrap, #middleCol, #contentBody {
		z-index:1;
	}
	.printSend { margin-top:8px;}
	.advSearch { font-size:90%; }
	#sitemap h2 {
	 position:relative;
	 background:transparent url("../../pictures/layout/body/shared/sitemap_bullet.gif") top left no-repeat;
	 display:block;
	 padding-left:10px;
	}
	.ieOnly {display:block;}
	body {
	  font-size:x-small;
	}
	body #wrapper { zoom:1; }
	#contentBody div, #rightCol div, #leftCol div {
	  zoom:1; /* hasLayout bug IE */
	}
	#middleCol {  
	  width:60%;
	  }
	#rightCol {
	  width:28%;
	  }
	.logo {right: -1px;}
	#leftCol a span  {	zoom:1; }
	a.newwindow { 
	 zoom:1; /* image de BG qui disparait si à la ligne */
	}
	#wrap, #subwrap, #middleCol, #contentBody {
		z-index:1;
	}
	.printSend { margin-top:8px;}
	.advSearch { font-size:90%; }
	#sitemap h2 {
	 position:relative;
	 background:transparent url("../../pictures/layout/body/shared/sitemap_bullet.gif") top left no-repeat;
	 display:block;
	 padding-left:10px;
	}
	#foot, #foot .contentA, #foot .contentB, #foot .content {
	 position:relative;
	}

	#publication {
	   position:relative;
	}
	#publication .descWithThumbnail, #publication .metaData {
	  zoom:0;
	}
    .orderBoxContent .langRow{
      zoom:1;
    }
	#publication .step1 fieldset legend, #publication .step3 fieldset legend {
	   margin-left:-5px;
	}
	#publication div.basketTable .deleteCol {
	   width:10.5em;
	}
	.orderBoxContent a.button, .orderBoxContent a.button:link, .orderBoxContent a.button:visited, .orderBoxContent a.button:hover { 
		font-size:0.8em;
	}
	.orderBoxContent a.button, .orderBoxContent a.button .contentA, .orderBoxContent a.button .contentB,
	.orderBoxContent a.button .contentC, .orderBoxContent a.button .contentD {
	  padding:0;
	  display:block;
	  }
	.orderBoxContent a.button .contentD, .orderBoxContent a.button .contentD, .orderBoxContent a.button .contentD {
	  padding:2px 8px 5px 4px;
	  }
	#publication table { 
		font-size:1em;
	}
	#publication div.basketTable a.button, #publication div.basketTable a.button:link, #publication div.basketTable a.button:visited, #publication div.basketTable a.button:hover { 
		font-size:0.8em;
	    padding:0;
	}
	#publication div.basketTable a.calculate, #publication div.basketTable a.calculate:link, #publication div.basketTable a.calculate:visited, #publication div.basketTable a.calculate:hover { 
		font-size:0.6em;
	    padding:0;
	}
	#publication div.basketTable a.button, #publication div.basketTable a.button .contentA, #publication div.basketTable a.button .contentB,
	#publication div.basketTable a.button .contentC, #publication div.basketTable a.button .contentD {
	  padding:0;
	  }
	#publication div.basketTable a.button .contentD, #publication div.basketTable a.button .contentD, #publication div.basketTable a.button .contentD {
	  padding:4px 4px 8px 4px;
	  }
	#publication div.basketTable a.address, #publication div.basketTable a.address .contentA, #publication div.basketTable a.address .contentB,
	#publication div.basketTable a.address .contentC, #publication div.basketTable a.address .contentD {
	  padding:0;
	  display:block;
	  }
	#publication div.basketTable a.address .contentD, #publication div.basketTable a.address .contentD, #publication div.basketTable a.address .contentD {
		font-size:0.9em;
	  padding:2px 8px 5px 4px;
	  }
	#publication div.shippingAddress, #publication div.billingAddress {
	   position:relative;
	   margin:0;
	}
/* pour les leins : principaux portails publics ; langues ; recherche avancee 
*/
	#info a:link, #info a:visited, #info a:hover { 
	  text-decoration:none;
	  padding:0;
	}
	#info a.linkppp .contentA, #info a.linkppp .contentB,
	#info a.linkppp .contentC, #info a.linkppp .contentD,
	#info a.linklang .contentA, #info a.linklang .contentB,
	#info a.linklang .contentC, #info a.linklang .contentD,
	#info a.linksearch .contentA, #info a.linksearch .contentB,
	#info a.linksearch .contentC, #info a.linksearch .contentD {
	  padding:0;
	  }
	#info a.linkppp .contentD, #info a.linklang .contentD, #info a.linksearch .contentD {
	  padding:2px 4px;
	  }
#foot .content {  zoom:1;  }
