@charset "utf-8";
/* -----------------------------------------------------
Styles pour onglets
----------------------------------------------------- */
.tabify-wrapper {
	width:80%;
	margin:50px auto;
}
.tabify .section { display:none; }
.tabify { 
	background:#fff;
	border: 1px solid #878787;	
	padding:1em;
 }

/*-- tabs nav--*/

.tabify-tabs { 
	margin:0 0 0 15px !important;	
}
.tabify-tabs:after {
	background:#333;
	bottom:0;
	content:'';
	height:1px;
	left:0;
	right:0;
	position:absolute;
}

.tabify-tabs > li:first-child a{
	border-left: 1px solid #d7d7d7;
}

.tabify-tabs > li.active:first-child a{
	border-left: 1px solid #878787;
}

.tabify-tabs > li:first-child:before{
	content:" ";
	position: absolute;
	bottom: 0;
	left: -15px;
	width: 15px;
	height: 100%;
	border: 1px solid #ccc;
	border-right: none;
	border-bottom: none;
	border-radius: 2px 0 0 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background: #e9f3fb;
	cursor: default;
}
.tabify-tabs > li.active:first-child:before{
	height: 85%;
}


.tabify-tabs > li{
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	margin:0 !important;
}

.tabify-tabs > li.tn-add-btn{
	margin-left: 3px;
}
.tabify-tabs > li a{

	line-height: 1em;
	color: #666666;
	text-decoration: none;
	padding: 0.55em 1.35em 0;
	height:1.7em;
	position: relative;
	display: block;
	border: 1px solid #ccc;
	border-left: none;
	border-bottom: none;
	background: #e9f3fb;
}

.tabify-tabs > li.tn-add-btn a{

	line-height: 1em;
	color: #000000;
	text-decoration: none;
	padding: 0.55em .55em 0;
	height:1.7em;
	position: relative;
	display: block;
	border: 1px solid #7fb1d4;
	border-bottom: none;
	background: #d1e4f2;
}

.tabify-tabs > li.is-notified a{
	padding-right:10px;
}

.tabify-tabs > li a:hover, .tabify-tabs > li a:focus{
	border-top-color: #ffcc00;
	color: #000000;
}

.tabify-tabs > li.active{	
	margin-left: -1px;
}

.tabify-tabs > li.active a{
	color: #000000;
	padding: .9em 1.35em 0; 
	position: relative;
	bottom: -1px;
	background: #ffffff;
	border: 1px solid #878787;
	border-bottom: 1px solid #ffffff;
}

.tabify-tabs > li.active a:before, .tabify-tabs > li.active a:after{
	content:" ";
	width: 15px;
	height: inherit;
	position: absolute;
	z-index: 3;
	bottom: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.tabify-tabs > li:first-child.active a:before, .tabify-tabs > li:first-child.active a:after{
	cursor: default;
}

.tabify-tabs > li.active a:before{
	background: url('./img/layout/body/onglet-shadow.png') right top no-repeat;
	right: -15px;
}

.tabify-tabs > li.active a:after{
	left: -15px;	
	background: url('./img/layout/body/onglet-shadow.png') left top no-repeat;
}
