/* Sitemap 
 ----------------------------------------------------- */
#sitemap {
	margin:0 0.5em;
}
#sitemap h2 {
	background:none;
	color:#2F6EAC;
	display:list-item;
	font-size:115%;
	font-weight:bold;
	list-style-image:url("../../pictures/layout/body/shared/sitemap_bullet.gif");
	margin:1.5em 0 0 20px;
	padding:0;
}
#sitemap h2 a:link, #sitemap h2 a:visited, #sitemap h2 a:hover, #sitemap h2 a:active, #sitemap h2 a:visited:hover {
	color:#069;
}
#sitemap h3 {
	background:none;
	color:#2F6EAC;
	display:list-item;
	font-size:100%;
	list-style-image:none;
	list-style-type:circle;
	margin:1em 0 0.5em 4em;
	padding:0;
	text-transform:none;
}
#sitemap h3 a:link, #sitemap h3 a:visited, #sitemap h3 a:hover, #sitemap h3 a:active, #sitemap h3 a:visited:hover {
	color:#3879B8;
}
#sitemap ul {
	color:#2F6EAC;
	list-style-type:none;
	margin:0.5em 0 1em 6em;
	padding:0;
}
#sitemap ul li {
	font-size:90%;
	font-weight:normal;
	list-style-type:square;
	margin-bottom:0;
	margin-top:0;
}
#sitemap ul li a:link, #sitemap ul li a:visited, #sitemap ul li a:active, #sitemap ul li a:hover, #sitemap ul li a:visited:hover {
	color:#69C;
}
#sitemap a:link, #sitemap a:visited {
	text-decoration:none;
}
#sitemap a:hover, #sitemap a:focus, #sitemap a:visited:hover {
	text-decoration:underline;
}
#sitemap div.level3 {
	border:0;
}

